body {
  font-family: Arial, sans-serif;
  background: #161616;
  margin: 0;
  padding: 0;
}

/* Menu Bar */
.menu-bar {
  background: #007bff;
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
  
}

.menu-btn {
  background: transparent;
  color: white;
  border: none;
  padding: 5px 5px;
  font-size: 16px;
  cursor: pointer;
}

.menu-btn:hover {
  background: rgba(255,255,255,0.2);
  border-radius: 5px;
}

/* Container */
.container {
  background: rgb(151, 155, 214);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(8, 7, 7, 0.5);
  width: 100%;
  max-width: 450px;
  margin: 20px auto;
  box-sizing: border-box;
}

h4 {
  text-align: center;
  color: rgb(78, 75, 75);
}
h1 {
  margin-bottom: 10px;
  text-align: center;
  color: rgb(25, 0, 247);
  font-weight: bold;
}

label {
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"], select {
  width: 100%;
  padding: 8px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}

.row > div {
  flex: 1 1 48%;
  min-width: 120px;
}

button {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  font-size: 18px;
  background-color: #007bff;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#result, #calcResult {
  margin-top: 20px;
  font-size: 20px;
  min-height: 24px;
  word-break: break-word;
  color: #000000;
  font-weight: 900;
  text-align: center;
}

#bottom {
  font-weight: 100;
  font-style: italic;
  text-align: center;
  margin-top: 20px;
}
